:root {
  --bg-clr: honeydew;
  --border-clr: burlywood;
  --input-clr: darkblue;
  --tooltip-clr: aquamarine;
}


.App {
  text-align: center;
  background-color: var(--bg-clr);
  min-height: 100vh;
  padding: 20px;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.upload-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 18px;
}

input[type="file"],
.upload-form button {
  font-size: x-large;
}

input[type="search"],
li.iv-wrapper {
  font-size: x-large;
  border: none;
  outline: solid .6px var(--border-clr);
  border-radius: 11px;
}

input[type="search"] {
  min-width: 29vw;
  max-width: 29vw;
  padding: 0 11px;
  margin: 27px 11px;
  line-height: 2rem;
  background-color: transparent;
  color: var(--input-clr);
}

.dsra-wrapper {
  position: absolute;
  background-color: var(--tooltip-clr);
  width: 200px;
  height: 22px;
  left: 44%;
  top: 15.5px;
  font-size: large;
  border-radius: 6px;
  text-transform: capitalize;
}

.sv-wrapper,
span.comment-part,
li.iv-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sv-wrapper label {
  font-size: x-large;
  color: var(--input-clr);
}

li.iv-wrapper {
  justify-content: space-between;
  max-width: 39vw;
  min-width: 36vw;
  margin: auto;
  line-height: 2rem;
  gap: 20px;
  padding: 6px;
  margin-bottom: 11px;
}

span.user-part {
  color: darkgoldenrod;
}

span.comment-part {
  width: 51%;
  justify-content: flex-start;
  color: cadetblue;
  font-size: large;
}

span.comment-part svg {
  margin-right: 11px;
}

/* media queries */
@media (max-width: 360px) {
  .dsra-wrapper {
    left: 33% !important;
    top: 40.5px;
    font-size: x-small;
    height: fit-content;
    width: fit-content;
    line-break: strict;
  }

  .upload-form button {
    font-size: x-small !important;
  }

  .sv-wrapper label {
    font-size: medium;
  }

  li.iv-wrapper {
    max-width: 100vw;
    min-width: 100vw;
    line-height: 1.7rem;
    gap: 10px;
    padding: 2px;
    margin-bottom: 13px;
    flex-direction: column;
    align-items: flex-start;
  }

  input[type="search"] {
    min-width: 63vw;
    margin: 13px 11px;
    font-size: smaller !important;
  }

  span.user-part {
    font-size: xx-large;
  }

  span.comment-part {
    width: 100vw !important;
    /* justify-content: space-between; */
    color: cadetblue;
    font-size: large !important;
  }

  .upload-form button,
  input[type="file"] {
    font-size: smaller;
  }
}

@media (min-width: 361px) and (max-width: 768px) {
  .dsra-wrapper {
    left: 35% !important;
    top: 33px;
  }

  li.iv-wrapper {
    max-width: -webkit-fill-available;
    min-width: -webkit-fill-available;
    margin-bottom: 20px;
  }

  input[type="search"] {
    min-width: 65vw;
    margin: 27px 20px;
  }

  span.user-part {
    font-size: larger;
  }

  span.comment-part {
    width: 65%;
    font-size: larger;
  }
}

@media (min-width: 769px) and (max-width: 1366px) {
  .dsra-wrapper {
    left: 42%;
    top: 33px;
  }

  input[type="search"] {
    min-width: 51vw;
    max-width: 51vw;
    font-size: xx-large;
  }

  li.iv-wrapper {
    max-width: 67%;
    gap: 0px;
    padding: 11px;
    margin-bottom: 20px;
  }

  span.comment-part {
    width: 65%;
    font-size: xx-large;
  }

  span.user-part {
    font-size: larger;
  }
}

@media (min-width: 1920px) {

  .dsra-wrapper {
    font-size: xx-large;
    width: fit-content;
    height: fit-content;
    top: 42.6px;
    left: 42%;
  }

  input[type="file"],
  .upload-form button {
    font-size: xxx-large;
  }

  input[type="search"] {
    min-width: 60%;
    padding: 0 20px;
    margin: 27px 20px;
    font-size: xxx-large;
  }

  .sv-wrapper label {
    font-size: xxx-large;
  }

  li.iv-wrapper {
    max-width: 74%;
    line-height: 4rem;
    gap: 0px;
    padding: 8px;
    margin-bottom: 20px;
  }

  span.user-part {
    font-size: xxx-large;
  }

  span.comment-part {
    width: 65%;
    font-size: xxx-large;
  }
}